*{margin:0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zain:wght@200;300;400;700;800;900&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
/* shayer style css */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    text-transform: capitalize;
    padding: 5px 15px;
    border:none;
}
.btn-primary:hover{
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    color:#181818;
    text-align: center;
    margin-bottom: 30px;
}
.section-discription{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
main > section{
    margin-top: 130px;
}
/* nav related css start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight:800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50PX;
    text-transform: capitalize;
}
nav a{
    color: #474747;
    text-decoration: none;
}
/* header related style */
.header-section{
    background-color: #fff8f3;
}
/* bannar related style */
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
   
}
.bannar-content{
    max-width: 500px;
}
.bannar-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
    padding-bottom: 0;
}
.bannar-content h1{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}
.bannar-content p{
    padding-bottom: 15px;
}
.hardy-pic{
    width: 500px;
    float: left;
}
/* main section style */
main{
    width:1140px;
    margin: auto;
   
}
/* about info section related style */
.about{
    background-color: #FFF8F3;
    padding: 130px;
    margin:130px 0px;
    border-radius: 10px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.whit-i-do-description{
    margin:0px 130px 30px 130px;
}
/* slill style */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    width: 267px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 112px 50px rgb(0,0,0,0.06);
}
.skill img{
    margin-bottom: 30px;
}
.skill-title{
    margin-bottom: 20px;
}
.skill-discription{
    color:#757575;
    line-height: 27px;
}